<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCpHp12ERXk7RbL3HX1thZ9W7sO4svSyDA</string>
	<key>GCM_SENDER_ID</key>
	<string>100201202593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ngu.l1ng0fusr04d</string>
	<key>PROJECT_ID</key>
	<string>lingofusion-df</string>
	<key>STORAGE_BUCKET</key>
	<string>lingofusion-df.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100201202593:ios:dd69ce9c73e8105634c1e0</string>
</dict>
</plist>